/* form{
    background: red;
} */
 
header{
    background: rgb(250, 191, 140);
    height: 700px;
}
.todo{
    width: 300px;
    border-radius: 3px;
    margin-top: 1%;
    background: white;
}
input{
    background: rgb(250, 191, 140);
    width:294px;
    border: none;
    height: 20px;
    border-radius: 3px;
}
form{
    margin-top: 2px;
}
.out{
    
    margin-left: 3% ;
    width: 307px;
    height: auto;
    background: rgb(211, 112, 0);
}
h1{
    background: rgb(197, 196, 196);
}